@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(../src/fonts/NotoSansKR-Regular.otf) format("otf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: medium;
  font-weight: 500;
  src: url(../src/fonts/NotoSansKR-Medium.otf) format("otf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: bold;
  font-weight: 700;
  src: url(../src/fonts/NotoSansKR-Bold.otf) format("otf");
}

@font-face {
  font-family: "Nanum Gothic Coding";
  font-style: normal;
  font-weight: 400;
  src: url(../src/fonts/NanumGothicCoding-Regular.ttf) format("ttf");
}

@font-face {
  font-family: "Nanum Gothic Coding";
  font-style: bold;
  font-weight: 700;
  src: url(../src/fonts/NanumGothicCoding-Bold.ttf) format("ttf");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
